@import "./base.css";
@import "./font.css";
.fa {
    font-family: brands;
}

header {
    width: 100%;
    background-color: #ff7f00;
    border-bottom: 7px #1e1e1e solid;
}

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}


/*main-nav {
    font-family: LatoBold;
    color: #ffffff;
    position: static;
    background-color: transparent;
    height: initial;
    width: initial;
    transform: translateY(0%);
    flex-direction: row;
}*/

.main-nav {
    align-items: center;
}

.main-nav a {
    font-family: LatoBold;
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
    height: 72px;
    width: 130px;
    transition: box-shadow .3s;
    font-size: 1.5rem;
}

.main-nav a.active {
    color: lemonchiffon;
    box-shadow: inset 0 -6px 0 lemonchiffon;
}

.main-nav a:hover {
    color: lemonchiffon;
    box-shadow: inset 0 -6px 0 lemonchiffon;
}

.main-nav>* {
    border-inline-end: 1px solid orange;
}

.main-nav>*:first-child {
    border-inline-start: 1px solid orange;
}

.nav-list {
    flex-direction: row;
}

.logo {
    color: #ffffff;
    margin: 3.5px 400.8px 8px 0;
    font-size: 2rem;
    font-family: shadowInto, sans-serif;
    margin-inline-start: 20px;
    letter-spacing: 0.2em;
}

.canvas-btn {
    width: 40px;
    height: 40px;
    margin: 24.7px 12.8px 0.2px 12.6px;
    padding: 3.8px 3.2px 2.9px 3.5px;
    border-radius: 6px;
    background-color: lightgoldenrodyellow
}

.canvas-text {
    width: 186.5px;
    height: 30px;
    margin: 0 0 1px;
    border-radius: 6px;
    background-color: #ffffff;
    text-align: center;
}

.gallery-items {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 5px;
}

.gallery-img {
    width: 100%;
    border: 1px solid black;
}

.canvas-container {
    position: fixed;
    top: 10%;
    width: 100%;
    height: 650px;
    background-color: #e3e3e3;
    z-index: 5;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.my-canvas {
    flex-basis: 50%;
    flex-direction: row;
}

.canvas-wrap {
    display: flex;
}

.canvas-editor {
    flex-basis: 50%;
    flex-direction: column;
    width: 500px;
}

.footer-container {
    height: 125px;
    text-align: center;
    background-color: #ff7f00;
    border-top: 7px #1e1e1e solid;
}

.footer-logo {
    color: #ffffff;
    font-size: 1.5rem;
    margin-block-start: 10px;
    font-family: shadowInto, sans-serif;
    margin-inline-start: 20px;
    letter-spacing: 0.2em;
}

.footer-btn {
    width: 50px;
    height: 30px;
    margin: 10px 12.8px 0.2px 12.6px;
    padding: 3.8px 3.2px 2.9px 3.5px;
    border-radius: 20px;
    background-color: lightgoldenrodyellow
}

.fa {
    font-family: brands;
}

.fa.facebook::before {
    content: "\f39e";
}

.fa.facebook:hover {
    background-color: #516fad;
}

.fa.linkedin::before {
    content: "\f0e1";
}

.fa.linkedin:hover {
    background-color: #516fad;
}


/*HELPERS*/

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-content {
    justify-content: center;
}


/*@media (min-width:450px) {
    .gallery-items {
        grid-template-columns: repeat(auto-fill, 200px);
    }
    .gallery-img {
        width: 200px;
    }
}*/